<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<!--  <div class="card-header" th:text="${titulo}"></div>-->
			<div class="card-body">
			<!--  
				<h4 class="card-title">
					<a th:href="@{/form}" class="btn btn-primary">crear cliente</a>
				</h4>
			-->
			<!--  
				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>Nome</th>
							<th>Cidade</th>
							<th>Pais</th>
							<th>Endereço</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="customer: ${customers}">
							<td><a class="btn btn-primary btn-xs" th:href="@{/ver/} + ${customer.customerid}" th:text="${customer.customerid}"></a></td>
							<td th:text="${customer.companyname}"></td>
							<td th:text="${customer.city}"></td>
							<td th:text="${customer.country}"></td>
							<td th:text="${customer.addressdetail}"></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			-->
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>